@model PCSManager.Models.Room.RoomDetail

@{
    ViewBag.Title = "Details";
}



<div>
    <h4>RoomDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoveId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoveId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
