@model IEnumerable<PCSManager.Models.Room.RoomListItem>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
<div class="alert alert-success fade in" role="alert">

    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    @TempData["SaveResult"]
</div>}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoomId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RoomId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RoomId })
            </td>
        </tr>
    }

</table>
