@model IEnumerable<PCSManager.Models.DamageClaim.DamageClaimListItem>

@{
    ViewBag.Title = "UnresolvedList";
}

<h2>Unresolved Claims</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClaimId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimResolved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClaimId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaimSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaimResolved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClaimId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ClaimId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClaimId })
        </td>
    </tr>
}

</table>
