@model PCSManager.Models.MoveInfo.MoveInfoDetail

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MoveInfoDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MoverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TSPPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TSPPhone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
