@model PCSManager.Models.InventoryItem.InventoryItemDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InventoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
