@model IEnumerable<PCSManager.Models.InventoryItem.InventoryItemListItem>

@{
    ViewBag.Title = "HVList";
}

<h2>High Value Items</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InventoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoxId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoxId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InventoryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.InventoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InventoryId })
        </td>
    </tr>
}

</table>
